<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>resturaunt Details</h1>
    <p>Name: <%= resturaunt.name %></p>
    <p>Address: <%= resturaunt.address %></p>
    <p>Phone: <%= resturaunt.phone %></p>
    <p>Is open: <%= resturaunt.isOpen %></p>
</body>
</html>